@media screen and (max-width: 1024px) {
    html {
        font-size: 58%;
    }
}

@media screen and (max-width: 991px) {
    html {
        font-size: 55%;
    }

    .hero-section .container {
        padding: 0;
    }

    .hero-content {
        order: 1;
    }

    .container .banner-image {
        width: 80%;
        order: 0;
    }

    .gradient-cards {
        grid-template-columns: 1fr 1fr;
    }

    .country-section-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .contact-div {
        flex-direction: column;
    }

    .copyright-area {
        padding: 1rem 3rem;
    }
}

@media screen and (max-width: 767px) {
    html {
        font-size: 50%;
    }

    .menu-web {
        display: none;
    }

    .ham-menu {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 1.5rem;
    }

    .ham-menu button {
        padding: 0.2rem 2rem;
        font-size: 2.5rem;
    }

    .menu-mobile {
        position: absolute;
        top: 8rem;
        left: 0;
        width: 100%;
        height: auto;
        z-index: 99;
        background-color: #353434;
        box-shadow: rgba(0, 0, 0, 0.3) 200px 0px 100px, rgba(0, 0, 0, 0.3) 0px 100px 100px 200px;
    }

    .menu-mobile ul {
        flex-direction: column;
        margin-left: 2rem;
        gap: 1rem;

    }

    .menu-mobile ul li {
        padding: 1rem;
        border-radius: 1rem;
    }

    .menu-mobile ul li:first-child {
        margin-top: 5rem;
    }

    .menu-mobile ul li:last-child {
        margin-bottom: 1.5rem;
    }

    .image-cards {
        grid-template-columns: 1fr;
    }

    .country-details-card {
        height: auto;
        border-radius: 5.7rem;
    }

    .country-details-card::after {
        height: 120%;
        width: 80%;
    }

    .country-details-card .country-image {
        grid-template-columns: 1fr;
        width: 90%;
        margin: auto;
        margin-bottom: 2rem;
    }

    .country-details-card .country-image .flag {
        margin-top: 3rem;
    }

    .country-section-grid {
        grid-template-columns: 1fr 1fr;
    }

    .country-section {
        padding: 0 2rem;
    }

    .main {
        padding: 1rem 3rem;
    }

    .main .grid-two-cols {
        grid-template-columns: 1fr;
    }

    .footer-contact-section .grid-three-cols {
        grid-template-columns: 1fr;
        padding: 1rem 2rem;
    }

    .copyright-area {
        padding: 1rem 3rem;
    }

}

@media screen and (max-width: 676px) {
    html {
        font-size: 55%;
    }

    .section-searchfilter .search-input {
        width: 100%;
    }

    .gradient-cards {
        grid-template-columns: 1fr;
    }


    .container-title {
        line-height: 35px;
    }

    .copyright-content {
        flex-direction: column;
        margin: 1rem;
    }

    .logo h1 {
        font-size: 2rem;
    }

    .copyright-text {
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 486px) {
    html {
        font-size: 55%;
    }

    .heading-xl {
        font-size: 4.1rem;
    }

    .country-section-grid {
        margin: auto;
        grid-template-columns: 1fr;
    }

    .logo h1 {
        font-size: 1.8rem;
    }

    .country-section {
        padding: 0.5rem 2.5rem;
    }

    .section-searchfilter {
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .section-searchfilter .search-second {
        justify-content: center;
    }

    .section-contact {
        padding: 0 4rem;
    }
}